{{ define "head" }}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>フィクショナリー</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- web font を読み込む -->
    <link
      href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap"
      rel="stylesheet"
    />
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/js/bootstrap.min.js"></script>
    <!--自作CSS -->
    <style type="text/css">
      <!--
      /*ここに調整CSS記述*/
      body{
      	font-family: 'Sawarabi Mincho', sans-serif, -apple-system;
      }
      -->
    </style>
  </head>
{{ end }}