<!DOCTYPE html>
<html lang="ja">
<!--○出題->集める->一覧表示->投票->回答者open->閲覧-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>フィクショナリー</title>
	<!-- BootstrapのCSS読み込み -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- web font を読み込む -->
	<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
	<!-- jQuery読み込み -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- BootstrapのJS読み込み -->
	<script src="/js/bootstrap.min.js"></script>
	<!--自作CSS -->
	<style type="text/css">
		<!--
		/*ここに調整CSS記述*/
		body{
			font-family: 'Sawarabi Mincho', sans-serif, -apple-system;
		}
		.jumbotron-fluid {
			background: url(/resources/index2-resized.jpeg) center no-repeat;
			background-size: cover;
		}

		-->
	</style>
</head>

<body>
	<div>
		<!--　▼ ジャンボトロン　 -->
		<div class="jumbotron jumbotron-fluid" style="height: 500px;">
			<div class="container mx-auto" style="width: 90%;">
				<h1 class="ml-0"><a href="/">たほいや！</a></h1>

				<div class="text-center mb-4">
					お題は？
					<form method="post" action="/newGame">
						<input type="text" name="odai"><br>
						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" name="checkLine">
							<label class="form-check-label" for="checkLine">LINEに送信</label>
							<input type="checkbox" class="form-check-input" name="checkTwitter">
							<label class="form-check-label" for="checkTwitter">twitterに送信</label>
						</div><br>
						<input class="btn btn-primary mt-1" type="submit" value="出題">
					</form>
				</div>
			</div>
		</div>
		<!--　▲ ジャンボトロン　 -->
		<div class="container text-center">
			<h2>これまでのお題</h2>
			{{ range .History}}
			<a href="/games/{{.ID}}">「{{.Odai}}」</a><br>
			{{ end }}
		</div>
	</div>
</body>

</html>
