<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>フィクショナリー</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- web font を読み込む -->
    <link
      href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap"
      rel="stylesheet"
    />
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/js/bootstrap.min.js"></script>
    <!--自作CSS -->
    <style type="text/css">
      <!--
      /*ここに調整CSS記述*/
      body{
      	font-family: 'Sawarabi Mincho', sans-serif, -apple-system;
      }
      .jumbotron-fluid {
      	background: url(/resources/index2-resized.jpeg) center no-repeat;
      	background-size: cover;
      }

      -->
    </style>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1><a href="/">たほいや！</a></h1>
      </header>

      <div class="row">
        <h2 class="mx-auto mt-3 rounded-lg bg-white p-3">
          まだみんなの回答は見れません
        </h2>
      </div>
    </div>

    <footer class="footer bg-light mt-3">
      <div class="container text-center py-3">
        <p><a href="/new-game">出題する</a></p>
        <p><a href="/">回答を締め切る</a></p>
        <p><a href="/">ついったー【twitter】</a></p>
      </div>
    </footer>
  </body>
</html>
