<!--回答一覧-->
<!--出題->集める->○一覧表示->投票->回答者open->閲覧-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>フィクショナリー</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="header">
		<h1><a href="/">たほいや！</a></h1>
	</header>
	<div class="contents">
        
        <h2>お題「{{.odai}}」</h2>
        <div>回答数：{{.countOfUsers}}</div>
        <div>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">全て展開</button>
        </div>
        
        {{range $i, $a := .kaitous}}
            <li>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1{{$i}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1{{$i}}">第1要素の切替</a>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2{{$i}}" aria-expanded="false" aria-controls="multiCollapseExample2{{$i}}">第2要素の切替</button>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1{{$i}} multiCollapseExample2{{$i}}">両方の要素を切替</button>
                </p>
                <div class="row">
                  <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1{{$i}}">
                      <div class="card card-body">
                        {{ .User }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2{{$i}}">
                      <div class="card card-body">
                        {{ .Answer }}
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <input type="text" name="note" size="50">
            </li>
        {{ end }}
        
	   
	</div>
</body>
</html>