<!DOCTYPE html>
<html lang="ja" class="h-100">
  {{ template "head" }}

  <body class="d-flex flex-column h-100">
    {{ template "header" }}

    <div class="container">
      <div class="contents">
        <h2>お題は「{{.odai}}」です。</h2>
        <p>あなたの知っている意味を書いてください。</p>
        <form
          action="{{.uri}}"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <div class="form-group">
            <label for="name">回答者の名前（お好きな名前で）</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="たほいやーネーム"
              required
            />
            <div class="invalid-feedback">
              たほいやーネームを入力してください
            </div>
          </div>
          <div class="form-group">
            <label for="answer">「{{.odai}}」の意味は？</label>
            <textarea
              id="answer"
              name="answer"
              class="form-control"
              rows="8"
              cols="80"
              required
              placeholder="たほい-や【たほい屋】静岡県で、山畑の猪追い小屋をいう。"
            ></textarea>
            <div class="invalid-feedback">回答してください</div>
          </div>
          <button type="submit" class="btn btn-primary">提出する！</button>
        </form>
        <div>回答に招待するには、このページのURLを送ってあげてください。</div>
      </div>
    </div>

    {{ template "footer" }}

    <script>
      // 無効なフィールドがある場合にフォーム送信を無効にするスターターJavaScriptの例
      (function () {
        "use strict";

        window.addEventListener(
          "load",
          function () {
            // カスタムブートストラップ検証スタイルを適用するすべてのフォームを取得
            var forms = document.getElementsByClassName("needs-validation");
            // ループして帰順を防ぐ
            var validation = Array.prototype.filter.call(forms, function (
              form
            ) {
              form.addEventListener(
                "submit",
                function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            });
          },
          false
        );
      })();
    </script>
  </body>
</html>
